
<section id="faculties_sir">

    <h1 class="heading"> Our Faculties </h1>
    <button mat-button>
        Add Faculty
    </button>

    <div class="box-container">

        <div class="box" data-aos="flip-down">
            
            <div class="info">
              <h2>Dr. Anirban Mukhopadhyay, Professor & Head </h2><br>
              <h3> B.E. (Computer Sc.), M.E. (Computer Sc.), Ph.D.</h3><br>
              <p> Specialization: Data mining, Soft and evolutionary computing, bioinformatics</p>
              <br><br>
              <span class="email">📧 anirban@klyuniv.ac.in</span>
              <br><br>
            </div>
          </div>

      <div class="box" data-aos="flip-up">
        
        <div class="info">
          <h2>Dr. Kalyani Mali, Professor</h2><br>
          <h3> B.Sc. (Mathematics), B.Tech. (Computer Sc.), M.Tech. (Computer Sc.), Ph.D.</h3><br>
          <p>Specialization: Digital image processing, pattern recognition, Neural network</p>
          <br><br>
          <span class="email">📧 kalyanimali1992@gmail.com</span>
        </div>
      </div>

      

      <div class="box" data-aos="flip-up">
        
        <div class="info">
          <h2>Dr. Priya Ranjan Sinha Mahapatra, Professor</h2><br>
          <h3>M.Sc. (Applied Mathematics), M.C.A., Ph.D.</h3><br>
          <p>Specialization: Computational geometry, Data structure and Algorithms</p>
          <br><br>
          <span class="email">📧 priya@klyuniv.ac.in</span>
        </div>
      </div>
      <div class="box" data-aos="flip-up">
        
        <div class="info">
          <h2>Dr. Jyotsna K. Mandal, Professor</h2><br>
          <h3> B.Sc. (Physics), M.Sc. (Physics), M.Tech. (Computer Sc.), Ph.D.</h3><br>
          <p>Specialization: Data and network security Cryptography, GIS and remote sensing</p>
          <br><br>
          <span class="email">📧 jkm.cse@gmail.com</span>
          <br><br>
          <h3>👉 Homepage: www.jkmandal.com</h3>
        </div>
      </div>
      <div class="box" data-aos="flip-up">
        
        <div class="info">
          <h2>Dr. Debabrata Sarddar, Assistant Professor</h2><br>
          <h3> B.E. (Computer Sc.), M.Tech. (Computer Sc.)</h3><br>
          <p> Specialization: Mobile computing, wireless and satellite communication</p>
          <br><br>
          <span class="email">📧 dsarddar1@gmail.com</span>
        </div>
      </div>
      <div class="box" data-aos="flip-up">
        
        <div class="info">
          <h2>Dr. Utpal Biswas, Professor , ETM Dean </h2><br>
          <h3> B.E. (Computer Sc.), M.E. (Computer Sc.), Ph.D.</h3>
          <br>
          <p> Specialization: Optical networks, Sensor & mobile ad-hoc networks, Semantic webs</p>
          <br><br>
          <span class="email">📧 utpal01in@yahoo.com</span>
        </div>
      </div>
      <div class="box" data-aos="flip-up">
        
        <div class="info">
          <h2>Mr. Sukanta Majumder, Assistant Professor</h2><br>
          <h3> M.C.A., M.Tech. (Computer Sc.)</h3>
          <br>
          <p>Specialization: Cloud Computing, IoT, Bioinformatics</p>
          <br><br>
          <span class="email">📧 majumder.sukanta85@gmail.com</span>
        </div>
      </div>
      <div class="box" data-aos="flip-up">
        
        <div class="info">
          <h2>Mr. Riman Mandal, Faculty</h2><br>
          <h3> M.C.A., M.Tech. (Computer Sc.)</h3>
          <br>
          <!-- <p>Specialization: Cloud Computing, IoT, Bioinformatics</p>
          <br><br>
          <span class="email">📧 majumder.sukanta85@gmail.com</span> -->
        </div>
      </div>
      <div class="box" data-aos="flip-up">
        
        <div class="info">
          <h2>Mr. J Paul, Faculty</h2><br>
          <h3> M.C.A., M.Tech. (Computer Sc.)</h3>
          <br>
          <!-- <p>Specialization: Cloud Computing, IoT, Bioinformatics</p>
          <br><br>
          <span class="email">📧 majumder.sukanta85@gmail.com</span> -->
        </div>
      </div>
    </div>

  </section>

<!-- 
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 170,
      delay: 500
    });
  </script> -->
