.no-page{
    padding: 21.9rem;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xxx-large;
    color: maroon;
    background-color: burlywood;
    background-size: cover;
}