.example-card {
    margin-top: 2rem;
    margin-left: 21rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
  }

  .post-field{
    margin: 2rem;
    margin-left: -1rem;
    padding: 0.5rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }


.info-text{
  color: aliceblue;
  margin-top: 2rem;
  text-align: center;
  margin-left: 10rem;
  font-family: 'Varela Round', sans-serif;
}

mat-card-content{
  display: block;
  margin-left: 4rem;
}

mat-action-row, button{
  margin-top: 2rem;
  float: right;
}

.favourite-button{
  margin-top: 2rem;
  float: left;
}


mat-spinner{
  margin: auto;
}

.image{
  width: 100%;
}

.image img{
  width: 80%;
}