<div class="mainnotfixed">

    <!-- connection suggestion -->
    <div class="people">
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Ramij Raja</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Rahul Pandey</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Poonam Barman</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Manuri Parvin</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Paritosh Ghorui</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Abhijit Prasad</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Sudip Pal</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Vijay Sethupati</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Amit Agarwal</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Akshay Singh</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Jayant Singh</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Barun Das</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Monroma Pal</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
        <div class="connection">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png">
            <h5>Prabhakar Kumar</h5>
            <p>University Of Kalyani</p>
            <a href="#" id="connect6" style="margin: 10px auto;">&#x271A; Connect</a>
        </div>
    </div>

    <!-- end of connection suggestion -->

    <!-- button to view more friends -->
    <button type="button" id="viewmore" class="viewmore">More</button>

</div>
<!-- end of main content section -->






<div class="message" id="msg1">
    <button id="msg2">Messaging</button>
    <p> No New Messages.</p>
</div>

