<div class="bg">
<app-header></app-header>
    <mat-card class="profile-card">

        <mat-card-content>
            <img src="https://image.flaticon.com/icons/png/512/17/17004.png" alt="" width="150px">
            <div class="user">
                <p id="name">User Name</p><br>
                <p id="course">MCA [2018-2021]</p><br>
                <button mat-raised-button color="primary">
                    <span>Connect &nbsp;</span>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            

        </mat-card-content>
    </mat-card>
    <!-- start of timeline of profile info -->
    <div class="timeline">

        <div class="container left">

            <p class="slideEdit2" title="Edit" onclick="enablemodal()">&#9998;</p>
            <div class="tcontent">
                <h2>Personal Detail</h2>
                <h4>Name:</h4>
                <p>User Name</p>
                <h4>Email:</h4>
                <p>rahulpnd056@gmail.com</p>
                <h4>Date Of Birth:</h4>
                <p>02 Mar 1996</p>
                <h4>Gender:</h4>
                <p>Male</p>
            </div>

        </div>

        <div class="container right">

            <p class="slideEdit2" title="Edit" onclick="enablemodal1(1)">&#9998;</p>
            <div class="tcontent">
                <h2>Graduation</h2>
                <h4>Institution:</h4>
                <p>Kazi Nazrul University</p>
                <h4>Degree:</h4>
                <p>BCA</p>
                <h4>Year:</h4>
                <p>2015-2018</p>
            </div>

        </div>

        <div class="container left">

            <p class="slideEdit2" title="Edit" onclick="enablemodal1(2)">&#9998;</p>
            <div class="tcontent">
                <h2>Post-Graduation</h2>
                <h4>Institution:</h4>
                <p>University Of Kalyani</p>
                <h4>Degree:</h4>
                <p>MCA</p>
                <h4>Year:</h4>
                <p>2018-2021</p>
            </div>

        </div>

        <div class="container right">

            <p class="slideEdit2" title="Edit" onclick="enablemodal2()">&#9998;</p>
            <div class="tcontent">
                <h2>Address</h2>
                <!-- <h4>Country:</h4>
            <p>India</p> -->
                <h4>State:</h4>
                <p>West Bengal</p>
                <h4>District:</h4>
                <p>Paschim Bardhaman</p>
                <h4>ZIP code:</h4>
                <p>713363</p>
            </div>

        </div>

        <div class="container left">

            <p class="slideEdit2" title="Edit" onclick="enablemodal3()">&#9998;</p>
            <div class="tcontent">
                <h2>More About You</h2>
                <!-- <h4>Interested In:</h4>
            <p>Woman</p> -->
                <h4>Tech Skills:</h4>
                <p>Angular, HTML, CSS, NodeJS, MongoDB</p>
                <h4>Hobbies</h4>
                <p>Watching movies, reading books</p>
                <h4>Language Known:</h4>
                <p>English, Hindi, Bengali</p>
            </div>

        </div>

    </div>
</div>
<!-- End of timeline -->