.container {
    width: 99.9%;
    height: 90.8%;
    border: 1px solid #555;
  }

  .nav{
      position: fixed;
      width: 20%;
      text-align: center;
      color: bisque;
      background-color:  rgba(44, 44, 44, 0.9);
  }

  mat-drawer-content{
      text-align: center;
      background-color: rgb(100, 224, 255);
  }

  .spacer{
    flex: 1 1 auto;
}
.mat-toolbar{
    background-color: rgba(44, 44, 44, 0.801);
    color: wheat;
}

.details{
    margin-top: 6rem;
}

.sidebarleft{
    margin-top: 1rem;
    color: wheat;
    text-align: center;
}
.sidebarleft>p{
    margin: 22px;
}

.sidebarleft p[id="sidename"]{
font-family: 'Roboto Mono', monospace;
font-size: xx-large;
}

.sidebarleft p[id="ssn"]{
    margin-top: 35px !important;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}
.sidebarleft p[id="dept"]{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}
.sidebarleft p[id="side"]{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: xx-large;
}
.sidebarleft p[id="course"]{
    font-family: 'Roboto Mono', monospace;
}

.sidebarleft>a{
    text-align: center;
    color: rgb(180, 180, 180);
    margin: 1rem;
    font-family: 'Roboto Mono', monospace;
}
.sidebarleft>a:link{
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-family: 'Roboto Mono', monospace;
}
.sidebarleft hr{
    border: 0.5px solid #B7B7B7;
	outline: 0px;
	width: 90%;
	box-shadow: 1px 1px 5px #999999;
    margin-top: 25px;
	margin-bottom: 35px;
}